{% extends 'base.html' %} {% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'expenses:expenses' %}">My Expenses</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Expenses</li>
  </ol>
</nav>

<div class="card">
  <div class="card-body">
    {% include 'partials/_messages.html' %}
    <form action="{% url 'expenses:add-expenses' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Amount</label>
        <input
          name="amount"
          type="number"
          class="form-control"
          value="{{field_values.amount}}"
          id="exampleFormControlInput1"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Description</label
        >
        <textarea
          name="description"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
      <div class="mt-3">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" aria-label="Small select example" name="category">
          <option selected>Categories</option>
            {% for category in categories %}
            <option value="{{ category.name }}">{{category.name}}</option>
            {% endfor %}
        </select>
      </div>
      <div class="mt-3">
        <label for="exampleFormControlInput1" class="form-label">Date</label>
        <input
          type="date"
          name="date"
          value="{{field_values.date}}"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
