{% extends 'base.html' %}


{% block content %}
{% include 'partials/_messages.html' %}
<ul class="list-group">
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
    <li class="list-group-item">Bought beer</li>
</ul>
    
{% endblock content %}

    